/Skye/bin/Debug/net7.0/DSharpPlus.dll
/Skye/bin/Debug/net7.0/DSharpPlus.SlashCommands.dll
/Skye/bin/Debug/net7.0/Emzi0767.Common.dll
/Skye/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/Skye/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.dll
/Skye/bin/Debug/net7.0/Microsoft.Extensions.Logging.Abstractions.dll
/Skye/bin/Debug/net7.0/Newtonsoft.Json.dll
/Skye/bin/Debug/net7.0/Skye.deps.json
/Skye/bin/Debug/net7.0/Skye.dll
/Skye/bin/Debug/net7.0/Skye.exe
/Skye/bin/Debug/net7.0/Skye.pdb
/Skye/bin/Debug/net7.0/Skye.runtimeconfig.json
